
#header{
	text-align: center;
}
table{
	margin: auto;
}
td{
	width: 100px;
	height: 100px;
}
#first_second{
	border-left: 1px solid black;
	border-right: 1px solid black;
}
#second_first{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
#second_second{
	border: 1px solid black;
}
#second_third{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
#third_second{
	border-left: 1px solid black;
	border-right: 1px solid black;
}