#content{
	text-align: center;
	padding-top: 25%;
}
body{
	background: url(https://images.unsplash.com/photo-1495248449765-7ec3db458549?auto=format&fit=crop&w=1050&q=80);
	background-size: cover;
	font-family: Lato;
}
h1{
	font-weight: 700;
	font-size: 5em;
}
html{
	height: 100%;
}
hr{
	width: 400px;
	border: 1px solid black;
	border-bottom: 1px solid rgba(0,0,0,0,2);
}