body {
	font-family: Arial, "Times New Roma", sans-serif;
	font-size: 16px;
	background-color: #eccdcd;
}
ol, ul{
	list-style: none;
}
#wrap{
	background-color: #eccdcd;
	width: 960px;	
	border: 1px solid black;
	margin: 0 auto;
}
#innerwrap:after{
	content:"";
	display: block;
	clear: both;
	height: 0;
}
#mainnav{
	background-color: #e3a2e3;
	height: 35px;
}
#mainnav li{
	float: left;
	width: 120px;
	height: 35px;
	background-color: #cd9dcd;
	text-align: center;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	line-height: 35px;
}
#mainnav a{
	text-decoration: none;
}
#mainnav a:hover{
	color: red;
}
#sidebar{
	float: left;
	width: 300px;
}
#main{
	float: right;
	width: 600px;
}
#sidebar p, #sidebar h2, #sidebar h3, #sidebar h4, #main p, #main h2, #main h3, #main h4, #main h1{
	margin-right: 20px;
	margin-left: 20px;
}
p, li{
	font-size: 0.875em;
	line-height: 1.75em;
}
h1{
	font-size: 1.5em;
	line-height: 1.5em;
	font-weight: normal;
}
h2{
	font-size: 1.125em;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 0.2em;

}
h3{
	font-size: 0.875;
	letter-spacing: 0.1em;
}
#bioclass{
	margin: 20px;
}
table{
	margin: 0 auto;
	border-color: grey ;
}
#slogan{
	position: absolute;
	height: 90px;
	top: 45px;
	left: 800px;

}
